<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>These Are Our Current Users</h1>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% users.forEach((user) => { %>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <div class="caption">
                        <p><%= user.username %></p>
                        <p>From <%= user.address.city %></p>
                        <p>Visit their website at  <a href="#"><%= user.website %></a></p>
                    </div>
                    <a href="/users/<%= user.id %>" class="btn btn-xs btn-primary">Profile</a>
                    <a href="/photos?userId=<%= user.id %>" class="btn btn-xs btn-primary">Photo Albums</a>
                </div>
            </div>
        <% }) %>
    </div>

</div>

<% include ../partials/footer %>