<% include ../partials/header %>

<div class="container">
        <div class="col-md-12"> 
            <div class="thumbnail">
                <div class="caption-full caption">
                    <h4><a><%= user.username%></a></h4>
                    <p><%= user.name %></p>
                    <p><%= user.email %></p>
                    <p><%= user.address.city %></p>
                    <h6><a><%= user.website%></a></h6>
                    <h5>Works at:</h5>
                    <h4><a><%= user.company.name%></a></h4>
                    <p><%= user.company.catchPhrase %></p>
                </div>
                <a href="/albums?userId=<%= user.id %>" class="btn btn-xs btn-primary">Photos</a>
            </div>
        </div>
    </div>    
</div>

<% include ../partials/footer %>